*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(45deg green, yellow, red);
    display: flex;
    font-size: 5vw;
    color: white;
    align-items: center;
    justify-content: center;
}



